user@DESKTOP-6FDALFP MINGW64 /d/3rdYears CoueseWork/.Net Project/AD_Group3_Backend (feature-3/parts-management)
$
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.exe
*.pdb
*.dll
*.cache
*.json
!appsettings.json
!appsettings.*.json
!bundleconfig.json
!compilerconfig.json
!package.json
!package-lock.json
!tsconfig.json